# ChatData

## Sqlite
We are using a file system called **sqlite**. It looks and acts like a real single user relational database (RDB). sqlite3 comes packaged with python. You do not need to install the library. You simply import it (as below).

- We are using Pandas to write and read to sqlite. Pandas will manage a lot of the complexity of dealing with a RDB. There are other ways of reading and writing to a RDB that are VERY common and often used in production systems.  

- The most common other way is to read or write to the RDB row by row. As you can see Pandas puts the entire dataframe into the RDB or extracts a new dataframe from the RDB. These are not row by row operations. These are set operations. Set operations ARE more efficient. However, it is common to use row by row operations to avoid needing large memory computers to hold the dataframes. One row only takes a few bytes. An entire dataframe could be many gigabytes and even petabytes of data. Obviously you will end up with problems with your compute resource if your files are this big. This will not happen to you in this activity and may never happen to you while you are a data analyst. Please just be aware of this.

- This activity is primarily about querying a RDB, so, we are using a simple way that Pandas provides. If you want to learn the more complex way, just google 'reading and wrting to a relational database using python'. There are many resources to learn from.

- The data types that sqlite supports are quite limited. for example, it does not have a DATE type.  This is not a challenge for this project. However, more sophisticated database systems,such as Postgresql, have a large array of data types, such as "DATE", etc. that give those systems additional capability.

- All of the SQL queries could also be performed on the Pandas DataFrames directly.  You may want to try this yourself for comparison (but make sure you do the SQL queries first, as this is an exercise in using SQL!).


## SQL Magic
Within the Jupyter notebook we will be using something called **SQL Magic**.  This provides a convenient way to write SQL queries directly into code cells in the notebook and to read the results back into a Pandas DataFrame.  This makes working with SQL much easier!

Note that you may need to update your sqlite version using `conda update -c anaconda sqlite` in order for the SQL Magic to work correctly.

## The Data Analysis Lifecycle
The sections in this notebook follow the stages of the Data Analysis Lifecycle introduced in an earlier activity.  The stages are:

- Acquire
- Transform
- Organise
- Analyse
- Communicate
- Maintain

The requirements document for this project is Template SQL queries.xlsx.

# Preliminary Steps: Create a Database
First let's import Sqlite and the other libraries we will need.

In [1]:
# Import Libraries
import numpy as np
import pandas as pd
import sqlite3

### Create the Database
Now we will create the Sqlite database.  Here is some code that does this for you.  We use the `%load_ext` magic command to load the SQL Magic extension and then use `%sql` to connect to the database.

In [2]:
# If the db does not exist, sqlite will create it.
con = sqlite3.connect('chatdata.db')

# loads sql magic
%load_ext sql

# connects sql magic command to the correct db
%sql sqlite:///chatdata.db

#### Drop the `queries` table if it already exists
The queries table will be our record of the queries created to answer the questions from the requirements spreadsheet.  As we will be running this Jupyter notebook a few times, let's drop (i.e. remove) the queries table so that we start fresh each time.  Here is the code to do this.  We use the `%%sql` magic command to tell Jupyter that we are going to write SQL in the cell.

In [3]:
%%sql
DROP TABLE IF EXISTS 'queries'

 * sqlite:///chatdata.db
Done.

[]

# Task 1: Load the Data
Now we can start loading the data.  The tables will be created as we load the data.  

Note that some of these files are quite large, so make sure you have plenty of free memory!

## Lifecycle Stages: Transform and Organise
The data has already been processed into 3 clean data files ready for this project:

- queries.csv
- posts.csv
- comments.csv

We will load these files into our database.

## Lifecycle Stage: Acquire
The data can be found in the OpenClassrooms instructions for this activity.

### Load Comments Data into a `comments` table
Now we will load the data from the csv files into our sqlite database.

First we load the csv file into a Pandas dataframe:

In [4]:
comments = pd.read_csv('comments.csv')
comments.head()

,Id,PostId,Score,Text,CreationDate,UserId
0,723182,385124,0,@BenBolker I don't understand. The fit cannot ...,2019-01-01 00:06:39,78575
1,723183,385124,3,"You can't add *less* than (`-min(y)`), but you...",2019-01-01 00:09:22,2126
2,723186,385137,0,nice. If you felt like doing the work it would...,2019-01-01 00:32:11,2126
3,723187,385137,0,"i.e. `emdbook::curve3d(-sum(dnbinom(y,mu=mu,si...",2019-01-01 00:40:36,2126
4,723188,385134,0,"Don't you mean ""so variance should be $\sigma^...",2019-01-01 00:41:28,112141

Now take the comments dataframe and push the data into the Sqlite database table called 'comments':

In [5]:
# load comments into sqlite
comments.to_sql('comments', con, if_exists='replace', index=False)

# read back in to prove that it worked
sql = 'SELECT * FROM comments'
comments = pd.read_sql(sql, con)
comments.head()

,Id,PostId,Score,Text,CreationDate,UserId
0,723182,385124,0,@BenBolker I don't understand. The fit cannot ...,2019-01-01 00:06:39,78575
1,723183,385124,3,"You can't add *less* than (`-min(y)`), but you...",2019-01-01 00:09:22,2126
2,723186,385137,0,nice. If you felt like doing the work it would...,2019-01-01 00:32:11,2126
3,723187,385137,0,"i.e. `emdbook::curve3d(-sum(dnbinom(y,mu=mu,si...",2019-01-01 00:40:36,2126
4,723188,385134,0,"Don't you mean ""so variance should be $\sigma^...",2019-01-01 00:41:28,112141

### Load Other CSVs
Now that you have seen the code for loading in the comments.csv now do the same to read and write the posts.csv and users.csv to sqlite.

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Enter code in the following cells. Insert as many cells as you want to do this.
    </font></div>

In [6]:
# TODO
posts = pd.read_csv('posts.csv')
posts.head()

,Id,PostTypeId,AcceptedAnswerId,ParentId,CreationDate,Score,ViewCount,Body,OwnerUserId,OwnerDisplayName,...,LastEditorDisplayName,LastEditDate,LastActivityDate,Title,Tags,AnswerCount,CommentCount,FavoriteCount,ClosedDate,CommunityOwnedDate
0,423497,1,423511,0,2019-08-24 09:39:31,2,68,"<p>From wikipedia <a href=""https://en.wikipedi...",64552,NaN,...,NaN,NaN,2019-08-24 11:38:54,When are biased estimators with lower MSE pref...,<bias><unbiased-estimator><mse>,1,0,1,2019-08-25 10:25:24,NaN
1,423498,1,0,0,2019-08-24 09:47:42,1,24,<p>I am currently doing local sensitivity anal...,87231,NaN,...,NaN,2019-09-06 12:52:32,2019-09-06 12:52:32,How to interpret the result from local sensiti...,<sensitivity-analysis><elasticity>,1,0,0,NaN,NaN
2,423499,1,0,0,2019-08-24 09:48:26,1,56,<p>I'm an honours student in psychology doing ...,257207,NaN,...,NaN,NaN,2019-08-25 08:54:17,Power Analysis in G-Power - Mixed Model Anova,<anova><gpower>,2,0,0,NaN,NaN
3,423500,2,0,215865,2019-08-24 09:57:01,0,0,"<p>Maybe you can look this <a href=""https://me...",106606,NaN,...,NaN,NaN,2019-08-24 09:57:01,NaN,NaN,0,0,0,NaN,NaN
4,423502,2,0,423286,2019-08-24 10:44:52,3,0,<blockquote>\n <p>Q1) Is my approach valid?</...,220643,NaN,...,NaN,2019-08-24 12:13:46,2019-08-24 12:13:46,NaN,NaN,0,1,0,NaN,NaN

In [7]:
# TODO
users = pd.read_csv('users.csv')
users.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,ProfileImageUrl,AccountId
0,157607,31,2017-04-17 14:50:42,user157607,2019-07-23 16:44:08,NaN,NaN,NaN,0,0,0,https://www.gravatar.com/avatar/2efb161849efa4...,10705183
1,157656,101,2017-04-17 20:08:20,user102859,2019-06-26 13:42:13,NaN,NaN,NaN,3,0,0,https://i.stack.imgur.com/eY4ka.jpg?s=128&g=1,10567606
2,157704,133,2017-04-18 05:10:47,jupiar,2019-11-25 13:32:27,NaN,"Shanghai, China","<p>Originally from the U.K, I have an Undergra...",1,1,0,https://www.gravatar.com/avatar/720e20205122c5...,9501631
3,157709,155,2017-04-18 06:39:18,farmer,2019-02-17 19:44:24,NaN,NaN,NaN,16,0,0,https://www.gravatar.com/avatar/0f8c4bde3d8f25...,10709837
4,157755,101,2017-04-18 12:56:17,Miki P,2019-08-12 17:02:21,NaN,NaN,NaN,1,9,0,https://www.gravatar.com/avatar/af088558cd81c5...,7969290

In [8]:
# TODO
# load posts into sqlite
posts.to_sql('posts', con, if_exists='replace', index=False)

# read back in to prove that it worked
sql = 'SELECT * FROM posts'
posts = pd.read_sql(sql, con)
posts.head()
posts.shape

(42234, 21)

In [9]:
# TODO
# load posts into sqlite
users.to_sql('users', con, if_exists='replace', index=False)

# read back in to prove that it worked
sql = 'SELECT * FROM users'
users = pd.read_sql(sql, con)
users.head()
users.shape

(18412, 13)

### **TODO**: Drop Duplicates
Look for and drop any duplicates in all 3 of the tables (if they exist). Use Pandas to do this. If you find duplicates, you will need to rewrite the table.

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Enter code in the following cells.
    </font></div>

In [10]:
import pandas as pd

In [11]:
# TODO
if comments.duplicated().any():
    print("Duplicates found in comments table. Dropping duplicates...")
    comments.drop_duplicates(inplace=True)

In [12]:
# TODO
if posts.duplicated().any():
    print("Duplicates found in posts table. Dropping duplicates...")
    posts.drop_duplicates(inplace=True)

In [13]:
# TODO
if users.duplicated().any():
    print("Duplicates found in users table. Dropping duplicates...")
    users.drop_duplicates(inplace=True)

## Review the Data

Spend some time reviewing the data.  Understand what data we have, think about how that data can be used to assist in the initiative of understanding how ChatData is used in the real world.  Is the data organised in a way that would lend itself to being manged in a relational database?  How would the different tables be connected?  What are the primary and foreign keys?  Would this give you a 3NF model?

Also think about security and ethics.  Is there personal data in here?  Could individuals be identified through this data?  It it ethical to use the data in this way?  You will be asked to comment on these questions later!

Use the code below to help you.

In [14]:
users.columns

Index(['Id', 'Reputation', 'CreationDate', 'DisplayName', 'LastAccessDate',
       'WebsiteUrl', 'Location', 'AboutMe', 'Views', 'UpVotes', 'DownVotes',
       'ProfileImageUrl', 'AccountId'],
      dtype='object')

In [15]:
users.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,ProfileImageUrl,AccountId
0,157607,31,2017-04-17 14:50:42,user157607,2019-07-23 16:44:08,None,None,None,0,0,0,https://www.gravatar.com/avatar/2efb161849efa4...,10705183
1,157656,101,2017-04-17 20:08:20,user102859,2019-06-26 13:42:13,None,None,None,3,0,0,https://i.stack.imgur.com/eY4ka.jpg?s=128&g=1,10567606
2,157704,133,2017-04-18 05:10:47,jupiar,2019-11-25 13:32:27,None,"Shanghai, China","<p>Originally from the U.K, I have an Undergra...",1,1,0,https://www.gravatar.com/avatar/720e20205122c5...,9501631
3,157709,155,2017-04-18 06:39:18,farmer,2019-02-17 19:44:24,None,None,None,16,0,0,https://www.gravatar.com/avatar/0f8c4bde3d8f25...,10709837
4,157755,101,2017-04-18 12:56:17,Miki P,2019-08-12 17:02:21,None,None,None,1,9,0,https://www.gravatar.com/avatar/af088558cd81c5...,7969290

In [16]:
comments.columns

Index(['Id', 'PostId', 'Score', 'Text', 'CreationDate', 'UserId'], dtype='object')

In [17]:
comments.head()

,Id,PostId,Score,Text,CreationDate,UserId
0,723182,385124,0,@BenBolker I don't understand. The fit cannot ...,2019-01-01 00:06:39,78575
1,723183,385124,3,"You can't add *less* than (`-min(y)`), but you...",2019-01-01 00:09:22,2126
2,723186,385137,0,nice. If you felt like doing the work it would...,2019-01-01 00:32:11,2126
3,723187,385137,0,"i.e. `emdbook::curve3d(-sum(dnbinom(y,mu=mu,si...",2019-01-01 00:40:36,2126
4,723188,385134,0,"Don't you mean ""so variance should be $\sigma^...",2019-01-01 00:41:28,112141

In [18]:
posts.columns

Index(['Id', 'PostTypeId', 'AcceptedAnswerId', 'ParentId', 'CreationDate',
       'Score', 'ViewCount', 'Body', 'OwnerUserId', 'OwnerDisplayName',
       'LastEditorUserId', 'LastEditorDisplayName', 'LastEditDate',
       'LastActivityDate', 'Title', 'Tags', 'AnswerCount', 'CommentCount',
       'FavoriteCount', 'ClosedDate', 'CommunityOwnedDate'],
      dtype='object')

In [19]:
posts.head()

,Id,PostTypeId,AcceptedAnswerId,ParentId,CreationDate,Score,ViewCount,Body,OwnerUserId,OwnerDisplayName,...,LastEditorDisplayName,LastEditDate,LastActivityDate,Title,Tags,AnswerCount,CommentCount,FavoriteCount,ClosedDate,CommunityOwnedDate
0,423497,1,423511,0,2019-08-24 09:39:31,2,68,"<p>From wikipedia <a href=""https://en.wikipedi...",64552,None,...,None,None,2019-08-24 11:38:54,When are biased estimators with lower MSE pref...,<bias><unbiased-estimator><mse>,1,0,1,2019-08-25 10:25:24,None
1,423498,1,0,0,2019-08-24 09:47:42,1,24,<p>I am currently doing local sensitivity anal...,87231,None,...,None,2019-09-06 12:52:32,2019-09-06 12:52:32,How to interpret the result from local sensiti...,<sensitivity-analysis><elasticity>,1,0,0,None,None
2,423499,1,0,0,2019-08-24 09:48:26,1,56,<p>I'm an honours student in psychology doing ...,257207,None,...,None,None,2019-08-25 08:54:17,Power Analysis in G-Power - Mixed Model Anova,<anova><gpower>,2,0,0,None,None
3,423500,2,0,215865,2019-08-24 09:57:01,0,0,"<p>Maybe you can look this <a href=""https://me...",106606,None,...,None,None,2019-08-24 09:57:01,None,None,0,0,0,None,None
4,423502,2,0,423286,2019-08-24 10:44:52,3,0,<blockquote>\n <p>Q1) Is my approach valid?</...,220643,None,...,None,2019-08-24 12:13:46,2019-08-24 12:13:46,None,None,0,1,0,None,None

# Working with Sqlite and SQL Magic
In this section let's spend a little time understanding a bit more about how we can work with Sqlite within Jupyter.

Let's look at 2 ways to query the sqlite database: using SQL Magic or using Pandas.  Either way is fine for this project.

## Writing queries with SQL Magic

You will now need to write some queries to get answers to the questions in the requirements.  

For single-line queries, start the cell with `%sql` and simply enter your query:

In [20]:
# This is an example
%sql SELECT COUNT(*) FROM comments

 * sqlite:///chatdata.db
Done.

[(50000,)]

For multi line sql statements use `%%sql` as follows. This tells Jupyter that *everything* in this cell should be interpreted as sql. So, NO comments other statements are allowed:

In [21]:
%%sql
SELECT Id, PostId, Score, Text
    FROM comments
        LIMIT 5

 * sqlite:///chatdata.db
Done.

[(723182, 385124, 0, '@BenBolker I don\'t understand. The fit cannot be done for the negative $y$. So intuitively I\'d think that in order to retain the relativity of the  ... (24 characters truncated) ... rror" or "flip" it to the positive axis? Would it be possible to adjust every point individually? Basically e.g. take $abs(y_i)$ instead of minimums.'),
 (723183, 385124, 3, "You can't add *less* than (`-min(y)`), but you could add *more*. I'm going to stop answering now sorry, because **judging what the 'best' approach is ... (60 characters truncated) ...  of the analysis, why you need to fit an exponential, your level of computational and statistical sophistication and that of your audience, etc. ...)"),
 (723186, 385137, 0, 'nice. If you felt like doing the work it would be nice to generate an image/contour plot of log-likelihood as a function of (mu, theta) and show the lines corresponding to the two `size` values .'),
 (723187, 385137, 0, 'i.e. `emdbook::curve3d(-sum(dnbinom(y,mu=mu,size=size,log=TRUE)),\n                 xlim=c(2,5),ylim=c(0.2,0.5),\n                 varnames=c("mu","s ... (57 characters truncated) ... ,col="red")\nabline(h=fit.what$theta,col="blue")\n` ... although doesn\'t look this is actually the answer - mu-hat is independent of theta-hat ... ?'),
 (723188, 385134, 0, 'Don\'t you mean "so variance should be $\\sigma^2/(n\\mu^2)$"')]

## Writing queries with Pandas
Another way to write queries is to use pandas:

In [22]:
sql = """
SELECT Id, PostId, Score, Text
    FROM comments
        LIMIT 5
        """
result = pd.read_sql(sql, con)
result

       Id  PostId  Score                                               Text
0  723182  385124      0  @BenBolker I don't understand. The fit cannot ...
1  723183  385124      3  You can't add *less* than (`-min(y)`), but you...
2  723186  385137      0  nice. If you felt like doing the work it would...
3  723187  385137      0  i.e. `emdbook::curve3d(-sum(dnbinom(y,mu=mu,si...
4  723188  385134      0  Don't you mean "so variance should be $\sigma^...

# Creating Tables with Referential Integrity

When we loaded the csv files into Sqlite database tables, Sqlite created the tables for us behind the scenes. Let's inspect this a bit more.

We can see how Sqlite created the tables by querying the `sqlite_master` table, which Sqlite uses to keep track of what objects have been created in the database:

In [23]:
%%sql
select sql from sqlite_master

 * sqlite:///chatdata.db
Done.

[('CREATE TABLE "comments" (\n"Id" INTEGER,\n  "PostId" INTEGER,\n  "Score" INTEGER,\n  "Text" TEXT,\n  "CreationDate" TEXT,\n  "UserId" INTEGER\n)',),
 ('CREATE TABLE "posts" (\n"Id" INTEGER,\n  "PostTypeId" INTEGER,\n  "AcceptedAnswerId" INTEGER,\n  "ParentId" INTEGER,\n  "CreationDate" TEXT,\n  "Scor ... (240 characters truncated) ...   "Tags" TEXT,\n  "AnswerCount" INTEGER,\n  "CommentCount" INTEGER,\n  "FavoriteCount" INTEGER,\n  "ClosedDate" TEXT,\n  "CommunityOwnedDate" TEXT\n)',),
 ('CREATE TABLE "users" (\n"Id" INTEGER,\n  "Reputation" INTEGER,\n  "CreationDate" TEXT,\n  "DisplayName" TEXT,\n  "LastAccessDate" TEXT,\n  "WebsiteUr ... (17 characters truncated) ... tion" TEXT,\n  "AboutMe" TEXT,\n  "Views" INTEGER,\n  "UpVotes" INTEGER,\n  "DownVotes" INTEGER,\n  "ProfileImageUrl" TEXT,\n  "AccountId" INTEGER\n)',)]

The above results show the `CREATE TABLE` statements that could be used by Sqlite to recreate the tables with the exact same structure.

The problem with the CREATE TABLE statements above is that they don't enforce **referential integrity**.  In other words, they don't ensure that every UserId and PostId in the comments table refers to an actual UserId and PostId in the users and posts tables.  At the moment. we can insert any old number here, and even have multiple users with the same Id!  One of the advantages of working with relational databases is that they can enforce the correct uniqueness and relationships in the data, but at the moment we are not using that feature.  So let's fix that...

First, let's drop the original tables:

In [24]:
%%sql
DROP TABLE comments;
DROP TABLE users;
DROP TABLE posts;

 * sqlite:///chatdata.db
Done.
Done.
Done.

[]

Prove that this worked by selecting the names of the tables back.  We should have no tables:

In [25]:
%%sql
SELECT name FROM sqlite_master WHERE type='table'
    ORDER BY name

 * sqlite:///chatdata.db
Done.

[]

In Sqlite we need to enable the enforcement of foreign key constraints:

In [26]:
%%sql
PRAGMA foreign_keys=ON;

 * sqlite:///chatdata.db
Done.

[]

Now recreate the users table with a **primary key constraint** by copying the CREATE TABLE statement from above and adding the NOT NULL PRIMARY KEY clause to the Id:

In [27]:
%%sql
CREATE TABLE "users" (
"Id" INTEGER NOT NULL PRIMARY KEY,
"Reputation" INTEGER,
"CreationDate" TEXT,
"DisplayName" TEXT,
"LastAccessDate" TEXT,
"WebsiteUrl" TEXT,
"Location" TEXT,
"AboutMe" TEXT,
"Views" INTEGER,
"UpVotes" INTEGER,
"DownVotes" INTEGER,
"ProfileImageUrl" TEXT,
"AccountId" INTEGER
);

 * sqlite:///chatdata.db
Done.

[]

Now do the same for the posts table:

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Complete the following code cell
    </font></div>

In [28]:
# Run the CREATE TABLE statement for the posts table, including the primary key constraint
%%sql
CREATE TABLE "posts" (
"Id" INTEGER NOT NULL PRIMARY KEY,
"PostTypeId" INTEGER,
"AcceptedAnswerId" INTEGER,
"ParentId" INTEGER,
"CreationDate" TEXT,
"Score" INTEGER,
"ViewCount" INTEGER,
"Body" TEXT,
"OwnerUserId" INTEGER,
"OwnerDisplayName" TEXT,
"LastEditorUserId" INTEGER,
"LastEditorDisplayName" TEXT,
"LastEditDate" TEXT,
"LastActivityDate" TEXT,
"Title" TEXT,
"Tags" TEXT,
"AnswerCount" INTEGER,
"CommentCount" INTEGER,
"FavoriteCount" INTEGER,
"ClosedDate" TEXT,
"CommunityOwnedDate" TEXT
);

 * sqlite:///chatdata.db
Done.

[]

Now for the comments table.  We need to add the primary key constraint on the id here as we did for users and posts, but we also need to add FOREIGN KEY constraints on the UserId and PostId. Read the documentation here and find our how to do that: https://www.sqlite.org/foreignkeys.html.  Then create the comments table with the correct constraints:

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Complete the following code cell
    </font></div>

In [29]:
# Run the CREATE TABLE statement for the comments table, including the primary key constraint and the 2 foreign key constraints
%%sql
CREATE TABLE "comments" (
"Id" INTEGER NOT NULL PRIMARY KEY,
"PostId" INTEGER,
"Score" INTEGER,
"Text" TEXT,
"CreationDate" TEXT,
"UserId" INTEGER,
FOREIGN KEY ("UserId") REFERENCES "users" ("Id"),
FOREIGN KEY ("PostId") REFERENCES "posts" ("Id")
);

 * sqlite:///chatdata.db
Done.

[]

*Now* we can re-insert the data into these constrained tables.  First users:

In [30]:
# Insert data into the new users table
users.to_sql('users', con, if_exists='append', index=False)

18412

Now posts:

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Complete the following code cell
    </font></div>

In [31]:
# Insert data into the new posts table
posts.to_sql('posts', con, if_exists='append', index=False)

42234

Finally comments, which references the users and posts tables:

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Complete the following code cell
    </font></div>

In [32]:
# Insert data into the new comments table
comments.to_sql('comments', con, if_exists='append', index=False)

50000

Now check that we have the 3 new table definitions in Sqlite:

In [33]:
%%sql
SELECT name FROM sqlite_master WHERE type='table'
    ORDER BY name

 * sqlite:///chatdata.db
Done.

[('comments',), ('posts',), ('users',)]

We now have all the data in tables in Sqlite and the tables will enforce the referential integrity.

# Example Query and Pattern for Tasks 2 and 3

As you work through the next tasks, you will need to:

1. Prepare the Sqlite query to answer the question
2. Test it
3. Insert it into the `queries` table, so we have a record of it for others.

This is the process that we want you to follow for this project while completing it.

Let's see an example of this by answering the following question:

**Which 5 users have viewed the most times and what is the sum of those views per user?**

## Prepare the Sqlite query

First, let's write the query:

In [34]:
sql = """
SELECT Id, SUM(Views) AS TotalViews
    FROM Users
        GROUP BY Id
            ORDER BY TotalViews DESC
                LIMIT 5
                """
result = pd.read_sql(sql, con) # con is the connection to the database
result

     Id  TotalViews
0   919       85180
1  4253       35119
2   805       34637
3  7290       32639
4  3277       29255

## Test the query
You can optionally prove the query worked by performing the same query in Pandas:

In [35]:
results = users.groupby(['Id']).sum().sort_values('Views', ascending = False)[:5]
results['Views']

<ipython-input-35-7b2c47bab8fa>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  results = users.groupby(['Id']).sum().sort_values('Views', ascending = False)[:5]

Id
919     85180
4253    35119
805     34637
7290    32639
3277    29255
Name: Views, dtype: int64

## Insert the query into the `queries` table
Now we need to put this query into the `queries` table in sqlite. Remember we want these queries to be accessible to everybody that should have access to them. We do not want people writing and rewriting the same queires over and over again. The easiest thing to do is create a dictionary with the values and insert these into the queries table.  Note that the values are provided as lists as we are inserting a list of values (i.e. a number of rows) into the table.  In this case the number of rows is 1, so we have lists of 1 item.

So here, we have a column called 'task' with a list of values, a column called 'action' with a list of values, etc.

In [36]:
query_dict = {
              'task': ['Single Table Queries'],
              'action': ['Which 5 users have viewed the most times and what is the sum of those views per user?'],
              'query': [sql]
             }
query_dict

{'task': ['Single Table Queries'],
 'action': ['Which 5 users have viewed the most times and what is the sum of those views per user?'],
 'query': ['\nSELECT Id, SUM(Views) AS TotalViews\n    FROM Users\n        GROUP BY Id\n            ORDER BY TotalViews DESC\n                LIMIT 5\n                ']}

Now that you have the data structure (query_dict) containing the data, create a pandas dataframe that holds those values:

In [37]:
queries = pd.DataFrame(query_dict)
queries

,task,action,query
0,Single Table Queries,Which 5 users have viewed the most times and w...,"\nSELECT Id, SUM(Views) AS TotalViews\n FRO..."

Now load that pandas dataframe (queries) into the sqlite table called queries. In this case, you use append NOT replace. You will be adding to this tables as you go thru this project.

In [38]:
# load query into sqlite
queries.to_sql('queries', con, if_exists='append', index=False)

# read back in to prove that it worked
sql = 'SELECT * FROM queries'
queries = pd.read_sql(sql, con)
queries.head()

,task,action,query
0,Single Table Queries,Which 5 users have viewed the most times and w...,"\nSELECT Id, SUM(Views) AS TotalViews\n FRO..."

It is likely that as you iterate thru this notebook you will create some duplicate entries in the query table. Not a big deal. Just tell sql or pandas (much easier in pandas) to drop the duplicates! If you drop the duplicates in Pandas you will have to write the entire dataframe back to sqlite. Otherwise it is changed in memory in Pandas but NOT in sqlite on the disk drive (or SDD). Just do this drop at the end of this notebook so that you are not constantly dealing with this.

So, to summarise, as you go through the following tasks you need to:

- answer the question in sql
- prove it in pandas (if you want to)
- put the query into the queries table

# Task 1 (continued): Insert the CREATE TABLE Statements into the `queries` Table

Now that we understand how to populate the `queries` table, let's insert the CREATE TABLE statements into it.  First let's define a function to help us insert into the queries table:

In [39]:
# Define a function that will insert into the queries table
def store_query(task, action, query):
    query_dict = {
                  'task': [task],
                  'action': [action],
                  'query': [query]
                 }

    # put query into the query_dict
    queries = pd.DataFrame(query_dict)

    # load query into sqlite
    queries.to_sql('queries', con, if_exists='append', index=False)

Now we can specify the queries and call the above function to store them.  The first one is done for you.

In [40]:
sql = """
    CREATE TABLE "comments" (
    "Id" INTEGER,
    "PostId" INTEGER,
    "Score" INTEGER,
    "Text" TEXT,
    "CreationDate" TEXT,
    "UserId" INTEGER
    )
    """
store_query("Task 1", "Create table comments", sql)

Let's prove it works by selecting back from the queries table:

In [41]:
# Prove it works
%sql SELECT * FROM queries

 * sqlite:///chatdata.db
Done.

[('Single Table Queries', 'Which 5 users have viewed the most times and what is the sum of those views per user?', '\nSELECT Id, SUM(Views) AS TotalViews\n    FROM Users\n        GROUP BY Id\n            ORDER BY TotalViews DESC\n                LIMIT 5\n                '),
 ('Task 1', 'Create table comments', '\n    CREATE TABLE "comments" (\n    "Id" INTEGER,\n    "PostId" INTEGER,\n    "Score" INTEGER,\n    "Text" TEXT,\n    "CreationDate" TEXT,\n    "UserId" INTEGER\n    )\n    ')]

## Insert the other CREATE TABLE statements into the `queries` table.
Follow the above pattern to complete these code cells:

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Complete the following code cells
    </font></div>

In [42]:
# Insert the CREATE TABLE for posts into the queries table
sql = """
    CREATE TABLE "posts" (
    "Id" INTEGER NOT NULL PRIMARY KEY,
    "PostTypeId" INTEGER,
    "AcceptedAnswerId" INTEGER,
    "ParentId" INTEGER,
    "CreationDate" TEXT,
    "Score" INTEGER,
    "ViewCount" INTEGER,
    "Body" TEXT,
    "OwnerUserId" INTEGER,
    "OwnerDisplayName" TEXT,
    "LastEditorUserId" INTEGER,
    "LastEditorDisplayName" TEXT,
    "LastEditDate" TEXT,
    "LastActivityDate" TEXT,
    "Title" TEXT,
    "Tags" TEXT,
    "AnswerCount" INTEGER,
    "CommentCount" INTEGER,
    "FavoriteCount" INTEGER,
    "ClosedDate" TEXT,
    "CommunityOwnedDate" TEXT
    )
    """
store_query("Task 2", "Create table posts", sql)

In [43]:
# Insert the CREATE TABLE for users into the queries table
sql = """
    CREATE TABLE "users" (
    "Id" INTEGER NOT NULL PRIMARY KEY,
    "Reputation" INTEGER,
    "CreationDate" TEXT,
    "DisplayName" TEXT,
    "LastAccessDate" TEXT,
    "WebsiteUrl" TEXT,
    "Location" TEXT,
    "AboutMe" TEXT,
    "Views" INTEGER,
    "UpVotes" INTEGER,
    "DownVotes" INTEGER,
    "ProfileImageUrl" TEXT,
    "AccountId" INTEGER
    )
    """
store_query("Task 3", "Create table users", sql)

In [44]:
# Prove it works
%sql SELECT * FROM queries

 * sqlite:///chatdata.db
Done.

[('Single Table Queries', 'Which 5 users have viewed the most times and what is the sum of those views per user?', '\nSELECT Id, SUM(Views) AS TotalViews\n    FROM Users\n        GROUP BY Id\n            ORDER BY TotalViews DESC\n                LIMIT 5\n                '),
 ('Task 1', 'Create table comments', '\n    CREATE TABLE "comments" (\n    "Id" INTEGER,\n    "PostId" INTEGER,\n    "Score" INTEGER,\n    "Text" TEXT,\n    "CreationDate" TEXT,\n    "UserId" INTEGER\n    )\n    '),
 ('Task 2', 'Create table posts', '\n    CREATE TABLE "posts" (\n    "Id" INTEGER NOT NULL PRIMARY KEY,\n    "PostTypeId" INTEGER,\n    "AcceptedAnswerId" INTEGER,\n    "ParentId" INTE ... (321 characters truncated) ... "AnswerCount" INTEGER,\n    "CommentCount" INTEGER,\n    "FavoriteCount" INTEGER,\n    "ClosedDate" TEXT,\n    "CommunityOwnedDate" TEXT\n    )\n    '),
 ('Task 3', 'Create table users', '\n    CREATE TABLE "users" (\n    "Id" INTEGER NOT NULL PRIMARY KEY,\n    "Reputation" INTEGER,\n    "CreationDate" TEXT,\n    "DisplayName" TEXT,\n  ... (82 characters truncated) ... tMe" TEXT,\n    "Views" INTEGER,\n    "UpVotes" INTEGER,\n    "DownVotes" INTEGER,\n    "ProfileImageUrl" TEXT,\n    "AccountId" INTEGER\n    )\n    ')]

## Count the Number of Rows in Each Table
Run some queries to count the number of rows in each of the tables.  Don't forget to insert the query into the queries table.

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Complete the following code cells
    </font></div>

In [58]:
# Count the number of rows in the comments table

# Define SQL queries to count the number of rows in table
sql_comments_count = 'SELECT COUNT(*) FROM comments;'

# Execute the SQL queries to get the row counts
comments_count = pd.read_sql(sql_comments_count, con).iloc[0, 0]

# Print the row counts for each table
print(f'Number of rows in comments table: {comments_count}')

Number of rows in comments table: 50000

In [59]:
# Count the number of rows in the users table
sql_users_count = 'SELECT COUNT(*) FROM users;'

users_count = pd.read_sql(sql_users_count, con).iloc[0, 0]

print(f'Number of rows in users table: {users_count}')

Number of rows in users table: 18412

In [60]:
# Count the number of rows in the posts table
sql_posts_count = 'SELECT COUNT(*) FROM posts;'

posts_count = pd.read_sql(sql_posts_count, con).iloc[0, 0]

print(f'Number of rows in posts table: {posts_count}')

Number of rows in posts table: 42234

## Do some Random Checks on the Data
Let's write some queries that select 5 random rows from each table.  The queries are provided here:

    select * from Comments order by random() limit 5;
    select * from Users order by random() limit 5;
    select * from Posts order by random() limit 5;

Enter the queries into the code cells below and insert the queries into the `queries` table in the same was as you did for the CREATE TABLE statements.

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Complete the following code cells
    </font></div>

In [64]:
# Run the query to select 5 random rows from the posts table
%%sql
select * from Posts order by random() limit 5;

 * sqlite:///chatdata.db
Done.

[(398507, 2, 0, 398502, '2019-03-20 12:18:05', 0, 0, '<p>Let <span class="math-container">$i=1,...,n$</span> and <span class="math-container">$X_i =1$</span> is customer <span class="math-container">$i$< ... (817 characters truncated) ... \n<p>You can do this in R for example </p>\n\n<pre><code>N &lt;- 100\np &lt;- c(0.7,rep(0.6,N-1))\nx &lt;- as.numeric(runif(N)&lt;p)\n</code></pre>\n', 16367, None, 0, None, None, '2019-03-20 12:18:05', None, None, 0, 0, 0, None, None),
 (410176, 1, 0, 0, '2019-05-26 15:38:27', 0, 32, '<p>My understanding is that events are subsets of the total outcomes in a sample space. So if two events are mutually exclusive, then they (the sets) ... (941 characters truncated) ...  determine the probability of the event? If true, would we be able to see these affects graphically when we talk about conditional probability?</p>\n', 203187, None, 0, None, None, '2019-05-26 21:08:06', 'Can independent/dependent events be thought of graphically?', '<probability><conditional-probability><independence>', 2, 0, 0, None, None),
 (422386, 1, 0, 0, '2019-08-15 19:33:10', 0, 36, '<p>I\'m generating random values from the multivariate skew-normal, and I want that the marginal distributions from this multivariate one have fixed  ... (1440 characters truncated) ... ppose to be equal, right? What can I do to generate multivariate skew normal with fixed parameters for the skew-normal marginals distributions?</p>\n', 187095, None, 0, None, None, '2019-10-21 14:23:11', 'Generating random values from a multivariate skew-normal with fixed marginals', '<r><random-generation><skew-normal>', 1, 0, 0, None, None),
 (403740, 1, 0, 0, '2019-04-18 05:43:32', 1, 97, '<p>I am aware of that multiple testing correction is needed when multiple hypothesis tests are simultaneously performed. However, I am a little confu ... (456 characters truncated) ... airwise fisher exact test was carried out individually and each raw p-value represents the significance of correponding paired features, right?</p>\n', 228643, None, 0, None, None, '2019-04-18 05:53:22', 'Does multiple pairwise fisher exact test need multiple testing correction?', '<fishers-exact>', 1, 0, 0, None, None),
 (423481, 2, 0, 422672, '2019-08-24 03:32:40', 0, 0, '<p>Okay, I think I\'ve figured this one out. First some notation. We have an observation <span class="math-container">$i$</span> in group <span class ... (7947 characters truncated) ... s overlap zero. I didn\'t show the results for that, but I did it a few times and feel pretty confident that the differences are just MC error.</p>\n', 95436, None, 95436, None, '2019-08-24 05:41:46', '2019-08-24 05:41:46', None, None, 0, 6, 0, None, None)]

In [65]:
# Run the query to select 5 random rows from the posts comments
%%sql
select * from Comments order by random() limit 5;

 * sqlite:///chatdata.db
Done.

[(790705, 423716, 2, 'The method you describe is one standard as percentile bootstrap. I am not clear whether you imagine that bootstrapping is expected to yield  a normal ... (291 characters truncated) ... ariables, considering a different parameterisation, considering a quite different model just as plausibly as advice to proceed in the same direction.', '2019-08-26 12:27:37', 22047),
 (757888, 244074, 0, 'You might find this article useful: https://medium.com/@aliaksei.mikhailiuk/can-you-do-better-sampling-strategies-with-an-emphasis-on-gibbs-sampling-practicals-and-code-c97730d54ebc', '2019-04-27 15:46:43', 245613),
 (754730, 403490, 2, "Welcome to the site. We are trying to build a permanent repository of high-quality \nstatistical information in the form of questions & answers. Thus, we're wary of \nlink-only answers, due to linkrot. Can you post a full citation & a summary of the \ninformation at the link, in case it goes dead?", '2019-04-17 01:51:05', 7290),
 (765115, 408884, 0, 'On a different level would robust Anova be an option for my data?', '2019-05-22 08:55:44', 246147),
 (782196, 419005, 1, 'I think that for any statistician working in multiple testing these notions are equivalent. By the way, another related notion that is different that ... (255 characters truncated) ... hian, "AdaPT: an interactive procedure for multiple testingwith side information" (JRSSB, 2018). The discussion just below it might interest you too.', '2019-07-26 05:47:40', 58602)]

In [66]:
# Run the query to select 5 random rows from the users table
%%sql
select * from Users order by random() limit 5;

 * sqlite:///chatdata.db
Done.

[(54805, 202, '2014-08-27 17:11:20', 'Bryan Glazer', '2019-09-30 01:56:26', None, None, None, 1, 14, 1, 'https://www.gravatar.com/avatar/315b0f894dcee19eab3a7305dabf6ecd?s=128&d=identicon&r=PG', 368423),
 (237830, 11, '2019-02-15 16:02:58', 'jrunnels', '2019-05-13 16:38:26', None, None, None, 1, 0, 0, 'https://www.gravatar.com/avatar/a962f021f194927c3c0a68a260884b27?s=128&d=identicon&r=PG&f=1', 15341244),
 (93253, 739, '2015-10-27 00:03:05', 'JPJ', '2019-11-22 01:39:51', None, None, None, 110, 53, 0, 'https://graph.facebook.com/16917224/picture?type=large', 4275271),
 (254115, 1, '2019-07-19 08:33:42', 'Dam', '2019-07-25 11:35:12', None, None, None, 0, 0, 0, None, 16347852),
 (90512, 101, '2015-09-27 03:21:36', 'Carlos Mendoza', '2019-11-25 18:07:52', None, None, None, 0, 3, 0, 'https://i.stack.imgur.com/7xGeT.jpg?s=128&g=1', 4530765)]

# Task 2: Create Single Table Queries

## Lifecycle Stage: Analyze
We can now start the analysis with our single-table queries.  First we need to create a new computed column to help with one of the queries.  The code below creates a column called LEN_BODY which is the length of the BODY text:

In [67]:
%%sql
ALTER TABLE POSTS ADD COLUMN LEN_BODY INT

 * sqlite:///chatdata.db
Done.

[]

In [68]:
%%sql
UPDATE POSTS SET LEN_BODY = LENGTH(BODY)

 * sqlite:///chatdata.db
42234 rows affected.

[]

### Single Table Queries
From the Template SQL Queries there are a series of queries requested. You are responsible for coding the result. Use the pattern above to accomplish the coding objective.  Copy and paste the question (column B Action) into a markdown cell and answer the query. Use the pattern that you have been using above.

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Enter your code below.  Just keep on inserting cells as you need them.
    </font></div>

In [70]:
# How many posts have 0 comments?
sql_zero_comments = 'SELECT COUNT(*) FROM posts WHERE CommentCount = 0;'
zero_comments_count = pd.read_sql(sql_zero_comments, con).iloc[0, 0]
print(f'Number of posts with 0 comments: {zero_comments_count}')

Number of posts with 0 comments: 21713

In [71]:
# How many posts have 1 comment?
sql_one_comment = 'SELECT COUNT(*) FROM posts WHERE CommentCount = 1;'
one_comment_count = pd.read_sql(sql_one_comment, con).iloc[0, 0]
print(f'Number of posts with 1 comment: {one_comment_count}')

Number of posts with 1 comment: 6460

In [72]:
# How many posts have 2 comments or more?
sql_two_or_more_comments = 'SELECT COUNT(*) FROM posts WHERE CommentCount >= 2;'
two_or_more_comments_count = pd.read_sql(sql_two_or_more_comments, con).iloc[0, 0]
print(f'Number of posts with 2 or more comments: {two_or_more_comments_count}')

Number of posts with 2 or more comments: 14061

In [73]:
# Find the 5 posts with the highest viewcount
sql_top_5_viewcount = 'SELECT * FROM posts ORDER BY ViewCount DESC LIMIT 5;'
top_5_viewcount = pd.read_sql(sql_top_5_viewcount, con)
print('Top 5 posts with the highest viewcount:')
print(top_5_viewcount)

Top 5 posts with the highest viewcount:
       Id  PostTypeId  AcceptedAnswerId  ParentId         CreationDate  Score  \
0  388566           1            388582         0  2019-01-22 15:16:47     56
1  394118           1            394128         0  2019-02-24 14:07:11     64
2  431370           1            431397         0  2019-10-14 11:29:21     77
3  398646           1            398653         0  2019-03-21 01:19:52     61
4  434128           1            434579         0  2019-11-01 13:07:36     73

   ViewCount                                               Body  OwnerUserId  \
0      19542  <ul>\n<li>Statement One (S1): "One in 80 death...       228214
1      16317  <p>A human child at age 2 needs around 5 insta...       107213
2      11723  <p>It seems very counter intuitive to many peo...       262594
3       9850  <p>The title of the Comment in Nature <a href=...       163067
4       6718  <p>I am designing a one year program in data a...        14188

  OwnerDisplayName  ...         LastEditDate     LastActivityDate  \
0             None  ...  2019-01-22 21:40:39  2019-01-24 17:09:47
1             None  ...  2019-02-25 22:40:22  2019-03-03 17:37:05
2             None  ...  2019-11-28 01:44:34  2019-11-28 01:44:34
3             None  ...  2019-03-22 22:14:04  2019-03-30 19:35:27
4             None  ...                 None  2019-11-26 00:59:15

                                               Title  \
0  Is it wrong to rephrase "1 in 80 deaths is cau...
1  Why do neural networks need so many training e...
2  Is there a name for the phenomenon of false po...
3  What does "Scientists rise up against statisti...
4  Famous statistical wins and horror stories for...

                                                Tags AnswerCount CommentCount  \
0                             <interpretation><risk>           9           15
1                    <neural-networks><neuroscience>          12           24
2              <probability><terminology><intuition>           8            9
3          <statistical-significance><p-value><bias>          10            7
4  <mathematical-statistics><data-visualization><...          13            7

   FavoriteCount  ClosedDate   CommunityOwnedDate LEN_BODY
0             15        None                 None     2270
1             38        None                 None      512
2             18        None                 None      811
3             34        None                 None     2148
4             70        None  2019-11-01 15:12:41     1172

[5 rows x 22 columns]

In [74]:
# Find the top 5 posts with the highest scores
sql_top_5_scores = 'SELECT * FROM posts ORDER BY Score DESC LIMIT 5;'
top_5_scores = pd.read_sql(sql_top_5_scores, con)
print('Top 5 posts with the highest scores:')
print(top_5_scores)

Top 5 posts with the highest scores:
       Id  PostTypeId  AcceptedAnswerId  ParentId         CreationDate  Score  \
0  431397           2                 0    431370  2019-10-14 14:29:36    101
1  394128           2                 0    394118  2019-02-24 15:44:44    100
2  426878           2                 0    426873  2019-09-11 23:23:31     93
3  388578           2                 0    388566  2019-01-22 15:48:47     80
4  431370           1            431397         0  2019-10-14 11:29:21     77

   ViewCount                                               Body  OwnerUserId  \
0          0  <p>Yes there is. Generally it is termed <stron...       142976
1          0  <p>I caution against expecting strong resembla...        22311
2          0  <p><strong>tl;dr</strong> Even though this is ...       119015
3          0  <p>To me "1 in 80 deaths..." is by far the cle...       227039
4      11723  <p>It seems very counter intuitive to many peo...       262594

  OwnerDisplayName  ...         LastEditDate     LastActivityDate  \
0             None  ...                 None  2019-10-14 14:29:36
1             None  ...  2019-03-03 17:37:05  2019-03-03 17:37:05
2             None  ...  2019-09-13 14:02:28  2019-09-13 14:02:28
3             None  ...                 None  2019-01-22 15:48:47
4             None  ...  2019-11-28 01:44:34  2019-11-28 01:44:34

                                               Title  \
0                                               None
1                                               None
2                                               None
3                                               None
4  Is there a name for the phenomenon of false po...

                                    Tags AnswerCount CommentCount  \
0                                   None           0            0
1                                   None           0           15
2                                   None           0            6
3                                   None           0           11
4  <probability><terminology><intuition>           8            9

   FavoriteCount  ClosedDate  CommunityOwnedDate LEN_BODY
0              0        None                None      269
1              0        None                None     5829
2              0        None                None     4627
3              0        None                None      572
4             18        None                None      811

[5 rows x 22 columns]

In [75]:
# What are the 5 most frequent scores on posts?
sql_most_frequent_scores = '''
    SELECT Score, COUNT(*) AS Frequency
    FROM posts
    GROUP BY Score
    ORDER BY Frequency DESC
    LIMIT 5;
'''
most_frequent_scores = pd.read_sql(sql_most_frequent_scores, con)
print('5 most frequent scores on posts:')
print(most_frequent_scores)

5 most frequent scores on posts:
   Score  Frequency
0      0      19888
1      1      11867
2      2       5094
3      3       2228
4      4       1059

In [76]:
# How many posts have the keyword "data" in their tags?
sql_data_tags_count = "SELECT COUNT(*) FROM posts WHERE Tags LIKE '%<data>%' ESCAPE '/';"
data_tags_count = pd.read_sql(sql_data_tags_count, con).iloc[0, 0]
print(f'Number of posts with "data" in their tags: {data_tags_count}')

Number of posts with "data" in their tags: 0

In [77]:
# What are the 5 most frequent commentcount for posts?
sql_most_frequent_commentcounts = '''
    SELECT CommentCount, COUNT(*) AS Frequency
    FROM posts
    GROUP BY CommentCount
    ORDER BY Frequency DESC
    LIMIT 5;
'''
most_frequent_commentcounts = pd.read_sql(sql_most_frequent_commentcounts, con)
print('5 most frequent commentcounts for posts:')
print(most_frequent_commentcounts)

5 most frequent commentcounts for posts:
   CommentCount  Frequency
0             0      21713
1             1       6460
2             2       4966
3             3       3063
4             4       2026

In [79]:
# How many posts have an accepted answer?
sql_posts_with_accepted_answer = 'SELECT COUNT(*) FROM posts WHERE AcceptedAnswerId > 0;'
posts_with_accepted_answer_count = pd.read_sql(sql_posts_with_accepted_answer, con).iloc[0, 0]
print(f'Number of posts with an accepted answer: {posts_with_accepted_answer_count}')

Number of posts with an accepted answer: 5341

In [80]:
# What is the average reputation of users?
sql_avg_reputation = 'SELECT AVG(Reputation) FROM users;'
avg_reputation = pd.read_sql(sql_avg_reputation, con).iloc[0, 0]
print(f'Average reputation of users: {avg_reputation}')

Average reputation of users: 312.3509124484032

In [81]:
# What are the min and max reputation of users?
sql_min_max_reputation = 'SELECT MIN(Reputation), MAX(Reputation) FROM users;'
min_max_reputation = pd.read_sql(sql_min_max_reputation, con).iloc[0]
print(f'Minimum reputation of users: {min_max_reputation[0]}')
print(f'Maximum reputation of users: {min_max_reputation[1]}')

Minimum reputation of users: 1
Maximum reputation of users: 228662

In [82]:
# What is the length of the body of 5 most viewed posts?
sql_length_body_top_5_viewed_posts = '''
    SELECT LENGTH(Body) AS BodyLength
    FROM posts
    ORDER BY ViewCount DESC
    LIMIT 5;
'''
length_body_top_5_viewed_posts = pd.read_sql(sql_length_body_top_5_viewed_posts, con)
print('Length of the body of 5 most viewed posts:')
print(length_body_top_5_viewed_posts)

Length of the body of 5 most viewed posts:
   BodyLength
0        2270
1         512
2         811
3        2148
4        1172

In [83]:
# How many different locations are there in the users table?
sql_unique_locations_count = 'SELECT COUNT(DISTINCT Location) FROM users;'
unique_locations_count = pd.read_sql(sql_unique_locations_count, con).iloc[0, 0]
print(f'Number of different locations in the users table: {unique_locations_count}')

Number of different locations in the users table: 1900

In [84]:
# What are the top 5 locations of users?
sql_top_5_locations = '''
    SELECT Location, COUNT(*) AS Frequency
    FROM users
    GROUP BY Location
    ORDER BY Frequency DESC
    LIMIT 5;
'''
top_5_locations = pd.read_sql(sql_top_5_locations, con)
print('Top 5 locations of users:')
print(top_5_locations)

Top 5 locations of users:
        Location  Frequency
0           None      13335
1        Germany        117
2          India        100
3  United States         69
4  Paris, France         66

In [85]:
# Rank the days of the week from highest to lowest in terms of the volume of ViewCount as a percentage
sql_days_viewcount_percentage = '''
    SELECT
        CAST(strftime('%w', CreationDate) AS INTEGER) AS DayOfWeek,
        SUM(ViewCount) * 100.0 / (SELECT SUM(ViewCount) FROM posts) AS Percentage
    FROM posts
    GROUP BY DayOfWeek
    ORDER BY Percentage DESC;
'''
days_viewcount_percentage = pd.read_sql(sql_days_viewcount_percentage, con)
print('Days of the week ranked by ViewCount percentage:')
print(days_viewcount_percentage)

Days of the week ranked by ViewCount percentage:
   DayOfWeek  Percentage
0          4   16.819476
1          3   16.768689
2          2   16.255034
3          1   15.806727
4          5   13.563061
5          0   11.895609
6          6    8.891404

# Task 3: Cross Table Queries

## Lifecycle Stage: Analyze
Let's continue the analysis with our multi-table queries.

### Cross Table Queries

From the Template SQL Queries there are a series of queries requested. You are responsible for coding the result. Use the pattern above to accomplish the coding objective.  Copy and paste the question (column B Action) into a markdown cell and answer the query. Use the pattern that you have been using above.

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Enter your code below.  Just keep on inserting cells as you need them.
    </font></div>

In [86]:
# How many posts have been created by a user that has a filled out the "AboutMe" section?
sql_posts_by_user_with_aboutme = '''
    SELECT COUNT(DISTINCT p.Id) AS NumPosts
    FROM posts p
    JOIN users u ON p.OwnerUserId = u.Id
    WHERE u.AboutMe IS NOT NULL;
'''
posts_by_user_with_aboutme = pd.read_sql(sql_posts_by_user_with_aboutme, con).iloc[0, 0]
print(f'Number of posts created by users with filled out "AboutMe" section: {posts_by_user_with_aboutme}')

Number of posts created by users with filled out "AboutMe" section: 17189

In [100]:
# Considering only the users with an "AboutMe," how many posts are there per user?
sql_posts_per_user_with_aboutme =  '''
    SELECT CAST(COUNT(*) AS FLOAT) / 4021 AS NumPosts
    FROM posts p
    JOIN users u ON p.OwnerUserId = u.Id
    WHERE u.AboutMe IS NOT NULL
'''
posts_per_user_with_aboutme = pd.read_sql(sql_posts_per_user_with_aboutme, con)
posts_per_user_with_aboutme['NumPosts'] = posts_per_user_with_aboutme['NumPosts'].astype(float)
print('Number of posts per user with filled out "AboutMe" section:')
print(posts_per_user_with_aboutme)

Number of posts per user with filled out "AboutMe" section:
   NumPosts
0  4.274807

In [101]:
# Not taking into account the commentcount field in the table posts, what are the Top 10 posts in terms of number of comments?
sql_top_10_posts_by_comments = '''
    SELECT p.Id, COUNT(c.Id) AS NumComments
    FROM posts p
    LEFT JOIN comments c ON p.Id = c.PostId
    GROUP BY p.Id
    ORDER BY NumComments DESC
    LIMIT 10;
'''
top_10_posts_by_comments = pd.read_sql(sql_top_10_posts_by_comments, con)
print('Top 10 posts by number of comments:')
print(top_10_posts_by_comments)

Top 10 posts by number of comments:
       Id  NumComments
0  386853           66
1  386556           34
2  395232           31
3  418910           31
4  402987           27
5  386075           26
6  394118           24
7  398828           23
8  402950           23
9  396111           22

In [102]:
# What are the Top 10 posts which have the highest cummulative (post score + comment score) score?
sql_top_10_posts_by_cumulative_score = '''
    SELECT p.Id, (p.Score + IFNULL(SUM(c.Score), 0)) AS CumulativeScore
    FROM posts p
    LEFT JOIN comments c ON p.Id = c.PostId
    GROUP BY p.Id
    ORDER BY CumulativeScore DESC
    LIMIT 10;
'''
top_10_posts_by_cumulative_score = pd.read_sql(sql_top_10_posts_by_cumulative_score, con)
print('Top 10 posts by cumulative score:')
print(top_10_posts_by_cumulative_score)

Top 10 posts by cumulative score:
       Id  CumulativeScore
0  394118              306
1  394128              169
2  388578              141
3  398653              111
4  388566              101
5  431397              101
6  398646               99
7  421677               96
8  426878               93
9  420526               92

In [103]:
# Who are the top 10 users who comment the most?
sql_top_10_users_comment_most = '''
    SELECT c.UserId, COUNT(c.Id) AS NumComments, u.Reputation
    FROM comments c
    JOIN users u ON c.UserId = u.Id
    GROUP BY c.UserId
    ORDER BY NumComments DESC
    LIMIT 10;
'''
top_10_users_comment_most = pd.read_sql(sql_top_10_users_comment_most, con)
print('Top 10 users who comment the most:')
print(top_10_users_comment_most)

Top 10 users who comment the most:
   UserId  NumComments  Reputation
0     919         3301      223056
1     805         1153      228662
2  143489         1024        2890
3   11887          805       39200
4   85665          691       17391
5  164061          540       13485
6   22047          536       41385
7  158565          504        6482
8    7962          492        8030
9   35989          470       71548

In [104]:
# Who are the top 10 users who post the most?
sql_top_10_users_post_most = '''
    SELECT p.OwnerUserId, COUNT(p.Id) AS NumPosts, u.Reputation
    FROM posts p
    JOIN users u ON p.OwnerUserId = u.Id
    GROUP BY p.OwnerUserId
    ORDER BY NumPosts DESC
    LIMIT 10;
'''
top_10_users_post_most = pd.read_sql(sql_top_10_users_post_most, con)
print('Top 10 users who post the most:')
print(top_10_users_post_most)

Top 10 users who post the most:
   OwnerUserId  NumPosts  Reputation
0       204068       637       17404
1        85665       545       17391
2       173082       435       42553
3        11887       435       39200
4          686       386       85077
5         1352       285       59160
6         3382       274       24841
7         7224       233       65999
8        35989       230       71548
9          805       230      228662

# Task 4: Check the Queries Table

Now let's tidy up and check the queries table.

First let's check it's contents:

In [105]:
%sql SELECT * FROM queries

 * sqlite:///chatdata.db
Done.

[('Single Table Queries', 'Which 5 users have viewed the most times and what is the sum of those views per user?', '\nSELECT Id, SUM(Views) AS TotalViews\n    FROM Users\n        GROUP BY Id\n            ORDER BY TotalViews DESC\n                LIMIT 5\n                ', None),
 ('Task 1', 'Create table comments', '\n    CREATE TABLE "comments" (\n    "Id" INTEGER,\n    "PostId" INTEGER,\n    "Score" INTEGER,\n    "Text" TEXT,\n    "CreationDate" TEXT,\n    "UserId" INTEGER\n    )\n    ', None),
 ('Task 2', 'Create table posts', '\n    CREATE TABLE "posts" (\n    "Id" INTEGER NOT NULL PRIMARY KEY,\n    "PostTypeId" INTEGER,\n    "AcceptedAnswerId" INTEGER,\n    "ParentId" INTE ... (321 characters truncated) ... "AnswerCount" INTEGER,\n    "CommentCount" INTEGER,\n    "FavoriteCount" INTEGER,\n    "ClosedDate" TEXT,\n    "CommunityOwnedDate" TEXT\n    )\n    ', None),
 ('Task 3', 'Create table users', '\n    CREATE TABLE "users" (\n    "Id" INTEGER NOT NULL PRIMARY KEY,\n    "Reputation" INTEGER,\n    "CreationDate" TEXT,\n    "DisplayName" TEXT,\n  ... (82 characters truncated) ... tMe" TEXT,\n    "Views" INTEGER,\n    "UpVotes" INTEGER,\n    "DownVotes" INTEGER,\n    "ProfileImageUrl" TEXT,\n    "AccountId" INTEGER\n    )\n    ', None),
 ('Task 2', 'Count the number of rows in the users table', 'SQL query: SELECT COUNT(*) FROM users;', None),
 ('Task 2', 'Count the number of rows in the posts table', 'SQL query: SELECT COUNT(*) FROM users;', None),
 ('Task 2', 'Count the number of rows in the comments table', 'SQL query: SELECT COUNT(*) FROM users;', None),
 ('Task 2', 'Count the number of rows in the users table', 'SQL query: SELECT COUNT(*) FROM users;', None),
 ('Task 2', 'Count the number of rows in the posts table', 'SQL query: SELECT COUNT(*) FROM users;', None),
 ('Task 2', 'Count the number of rows in the comments table', 'SQL query: SELECT COUNT(*) FROM users;', None)]

## Drop Duplicates

You likely have some duplicates. Lets drop them.

In [106]:
# Read the queries table into pandas
sql = 'SELECT * FROM queries'
queries = pd.read_sql(sql, con)

# Drop duplicates
queries.drop_duplicates(inplace = True) # drop duplicates

## Case Issues

Remember, SQL is case insensitive. Pandas IS case sensitive. Lets deal with this now by making all of the text uppercase.

In [107]:
for col in queries.columns:
    queries[col] = queries[col].str.upper()

queries

,task,action,query,query_description
0,SINGLE TABLE QUERIES,WHICH 5 USERS HAVE VIEWED THE MOST TIMES AND W...,"\nSELECT ID, SUM(VIEWS) AS TOTALVIEWS\n FRO...",None
1,TASK 1,CREATE TABLE COMMENTS,"\n CREATE TABLE ""COMMENTS"" (\n ""ID"" INTE...",None
2,TASK 2,CREATE TABLE POSTS,"\n CREATE TABLE ""POSTS"" (\n ""ID"" INTEGER...",None
3,TASK 3,CREATE TABLE USERS,"\n CREATE TABLE ""USERS"" (\n ""ID"" INTEGER...",None
4,TASK 2,COUNT THE NUMBER OF ROWS IN THE USERS TABLE,SQL QUERY: SELECT COUNT(*) FROM USERS;,None
5,TASK 2,COUNT THE NUMBER OF ROWS IN THE POSTS TABLE,SQL QUERY: SELECT COUNT(*) FROM USERS;,None
6,TASK 2,COUNT THE NUMBER OF ROWS IN THE COMMENTS TABLE,SQL QUERY: SELECT COUNT(*) FROM USERS;,None

In [108]:
# Write the now deduped uppercase dataframe back to sqlite and replace the table
queries.to_sql('queries', con, if_exists='replace', index=False)

7

## Use Case

Now that we have this queries table, lets give you some ideas about how you would use it.

Suppose you wanted to find all of the queries where you did a GROUP BY:

In [109]:
%%sql
SELECT query
    FROM queries
        WHERE query LIKE '%GROUP BY%'

 * sqlite:///chatdata.db
Done.

[('\nSELECT ID, SUM(VIEWS) AS TOTALVIEWS\n    FROM USERS\n        GROUP BY ID\n            ORDER BY TOTALVIEWS DESC\n                LIMIT 5\n                ',)]

## Now Your Turn
Find the queries that have 'DISTINCT' in them. You can do it with the %sql command or with Pandas and sql.

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Complete the following code cell
    </font></div>

In [114]:
%%sql
SELECT query
FROM queries
WHERE query LIKE '%DISTINCT%'

 * sqlite:///chatdata.db
Done.

[]

# Close SQLite

It is good practise to close all relational databases as soon as you are finished updating them.

In [115]:
con.close()

# All Done!

Great job. You now have a good idea for how to use sql and pandas with sql. You can create your own databases from csv files and you can do extensive querying using sql. These are valuable skills that will take you a long ways in todays technological world.